@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --color-primary: #ffffff;
    --color-secondary: #222222;
    --color-accent: #ff7f50;
    --color-background: url('../img/kame house.jpg') center/cover no-repeat; 
    --font-primary: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
    color: var(--color-primary);
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.navbar {
    width: 100%; /* Extend the navbar to the full width */
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background: var(--color-accent);
    border-color: var(--color-primary);
}

.container {
    padding-top: 5rem;
    width: 100%;
}

h1 {
    margin: 2rem 0;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;  /* Further reduced the width to 50% */
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h2, .card h3, .card p {
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: left;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.card img {
    width: 30%;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .card h3 {
        font-size: 1.25rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card {
        width: 80%;  /* Adjusted the width for smaller screens */
    }
}

.logo img {
    height: 50px;
}
